.uploadform {
	width: 60%;
	margin: auto;
}

.uploadform div {
	margin-top: 3%;
}

.uploadform label{
	width: 30%;
	float: left;
}

#comments {
	text-align: left;
	display: block;
}


#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  /* margin: 100px auto; */
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

#gallery-wrapper {
	margin-top: 8%;
	
	
}

#gallery {
	border-collapse: separate;
}

/* #gallery tr { */
	/* background: #ccc; */
	/* border-radius: 20px; */
	/* border: 1px solid #ccc; */
/* } */

#gallery td:first-child {
	border-radius: 20px 0px 0px 20px;
	padding-left:5px;
}

#gallery td:last-child{
	border-radius: 0px 20px 20px 0px;
}

#gallery td{
	padding: 2px;
	background: #ccc;
	border: 1px solid #ccc;
}

.delete-button {
	cursor: pointer;
}


ul.uploadtoolError, input.uploadtoolError, textarea.uploadtoolError, select.uploadtoolError {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cc0000 !important;
	background-color: #f3d8d8 !important;
	background-image: url(/tms_uploadtool/static/src/img/error-shading.png) !important;
	background-position: 50% 50% !important;
	background-repeat: repeat !important;
}

ul.uploadtoolError input {
	color: #666 !important;
}

label.uploadtoolError {
	color: red;
	font-size: 11px;
	display: block;
}

#hidden-error {
	display: none;
}

#hidden_result {
	display: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}